<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <title>register 화면입니다</title>
</head>
<body>
    <div class="login-box">
        <h2>Register</h2>
        <form>
            <div class="user-box">
                <input id="userId" type="text" placeholder="Write Login userId" required><br/>
            </div>
            <div class="user-box">
                <input id="userName" type="text" placeholder="Write Login Username" required><br/>
            </div>
            <div class="user-box">
                <input id="password" type="password" placeholder="Write Login password" required><br/>
            </div>
            <div class="user-box">
                <input id="passwordConfirm" type="password" placeholder="Write Login password-Confirm" required><br/>
            </div>
            <a href="#" id="createBtn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                생성
            </a>
        <span style="margin-left: 100px;">
            <a href="/login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                로그인 화면
            </a>
        </span>
        </div>
        </form>
    </div>
    <script src="js/register.js"></script>
</body>
</html>